* {
     padding: 0;
     margin: 0;
     font-family: Verdana;
}



/* The first universal navbar */
#logo {
     height: 50px;
     margin-bottom: 5px;
}

#Stockxsim {
     height: 40px;
     margin-top: 5px;
}

.search-box {
     max-width: 260px;
}

@media (min-width: 992px) {
     .search-box {
          max-width: 340px;
     }
}


/* Dashboard Navigation */
.dashboard_nav {
     color: black;
}

.navbar-nav {
     flex-direction: row !important;
}

.navbar-nav .nav-link {
     white-space: nowrap;
     /* prevents breaking into 2 lines */
}



/* Ticker bar */
.ticker-item {
     font-size: small;
     padding: 8px;
}

.ticker-item:hover {
     color: #04b488;
     cursor: pointer;
     background-color: #f0f0f0;
     border-radius: 10px;
}

/* Main Content */
.main_content {
     background: pink;
     height: 100px;
}


/* Stock Card */
.stock_card {
     border: 1px solid #e5e7eb;
     border-radius: 20px;
     background: white;
     height: 100%;
     transition: box-shadow .2s ease;
     box-shadow: 0 8px 20px rgba(0, 0, 0, .06);
}

.stock_card:hover {
     background-color: #0f0f0f0f;
}

.stock_name {
     color: #44475b;
}

.stock_change.up {
     color: #16a34a;
}

.stock_change.down {
     color: #dc2626;
}


/* Mover table's navbar */
.btn.rounded-pill {
  padding: 6px 16px;
  font-weight: 500;
}

.btn-outline-secondary {
  border-color: #d1d5db;
  color: #44475b;
  background: white;
}

.btn-outline-secondary.active,
.btn-outline-secondary:hover {
  background: #f5f5f7;
  color: #111827;
}


/* Movers Table (Main Content) */
.movers-table th {
     background-color: #0f0f0f0f !important;
     padding: 12px !important;
}

.movers-table td{
     color: #44475b !important;
}

.movers-table {
     border: 1px solid #dee2e6 !important;
     border-radius: 10px !important;
     border-collapse: separate;
     border-spacing: 0;
     overflow: hidden;
}

/* Aside Content */
.aside_content {
     /* background: lightblue; */
     height: 100px;
}

@media (max-width: 768px) {
     .parent_grid {
          order: -1;
     }
}