/* MAIN LAYOUT */
/* LEFT CARD */
.holdings-card {
  flex: 2.5;
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 0 0 1px #eee;
}

/* RIGHT CONTENT */
.select-box {
  align-items: center;
  justify-content: center;
  color: #999;
  font-size: 14px;
}

.balance-box {
  justify-content: space-between;
  font-size: 14px;
}

.balance-box a {
  color: #04b488;
  text-decoration: none;
}

.holdings-header {
  padding: 30px;
  margin-left: 10px;
  margin-top: 20px;
}


.holdings-summary {
  display: flex;
  justify-content: space-between;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  padding: 20px;
  margin-right: 10px;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .holdings-summary {
    display: block;
  }

  .holdings-summary > div {
    margin-bottom: 12px;
  }
}


.table-header,
.holding-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  padding: 12px 0;
}

.table-header {
  color: #888;
  font-size: 13px;
  border-bottom: 1px solid #eee;
}

.holding-row p {
  font-size: 12px;
  color: #888;
}