* {
     padding: 0;
     margin: 0;
     font-family: Verdana;
}

#logo {
     height: 50px;
     margin-bottom: 5px;
}

#Stockxsim {
     height: 40px;
     margin-top: 5px;
}

#home_nav {
     background-color: rgb(255, 255, 255);
}

.nav_ul {
     font-size: large;
}

.nav_list {
     margin: 5px 5px;
}

.nav_list :hover {
     color: rgb(32, 31, 31);
}


.nav_signup {
     border: 1px solid #04b488;
     border-radius: 8px;
     background-color: #04b488;
     margin-top: 6px;
     margin-bottom: 16px;
     box-sizing: border-box;

}

.main_screen {
     text-align: center;
     background-color: rgb(255, 255, 255);
     /* height: 90vh; */
     width: 100%;
     padding-top: 5%;
     height: auto;
}

.main_screen h1 {
     color: #44475b;
     font-size: clamp(35px, 5vw, 70px);

}

.main_screen h2 {
     color: rgb(124, 126, 140);
     color-scheme: light;
     display: block;
     font-weight: 535;
     font-size: clamp(14px, 5vw, 28px);
     margin-top: 10px;
}

.main_screen button {
     margin-top: 20px;
     background-color: #04b488;
     border: none;
     color: white;
     padding: 12px 20px;
     text-align: center;
     display: inline-block;
     font-size: 15px;
     border-radius: 12px;
     cursor: pointer;
}

.main_screen button:hover,
.nav_signup:hover {
     background-color: #039f76;
}


.about_section {
     margin: 100px 40px;
     padding: 48px 0;
     text-align: left;
     line-height: 25px;
}

@media (max-width: 768px) {
     .about_section {
          margin: 10px 16px;
          /* 👈 mobile friendly */
          padding: 32px 0;
     }
}


.about_section h2 {
     color: #374151;
     font-size: clamp(30px, 5vw, 50px);
     margin-bottom: 20px;
}

.about_section h2 .Earning {
     background: linear-gradient(90deg, #04b488, #0f766e);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

.hero2 {
     position: absolute;
     top: 90%;
     left: 36%;
     width: 30%;
     height: auto;
     z-index: 2;
}

@media (max-width: 768px) {
     .hero2 {
          position: relative;
          /* absolute hatao */
          top: 0;
          left: 0;
          width: 80%;
          /* mobile ma mota */
          margin: 20px auto 0;
          /* center */
          display: block;
     }
}

.col-lg-7 {
     margin-top: 0;
}

.about_section p {
     font-size: clamp(12px, 3vw, 16px);
}

.mails{
     text-decoration: none;
     color: #2EA98C;
}