{% extends "base.html" %}

{% block title %}Dashboard - Stocxsim{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/dashboard.css">
{% endblock %}

{% block content %}

<section>
  <div class="container my-4">
    <div class="row">
      <!-- LEFT MAIN CONTENT -->
      <main class="col-lg-8 col-12 order-2 order-lg-1 mb-3 p-4">
        <!-- cards -->
        <h5 style="color: #44475b">My Watchlist</h5>
        <div class="dashboard-watchlist-scroll">
          <div id="stocksRow" class="row g-3 flex-nowrap">
            <!-- for js -->
          </div>
        </div>
        <!-- STOCK STATS MINI BUTTONS -->
        <div class="watchlist-actions">
          <button class="mini-btn" onclick="loadChart('weekly')">📊 Weekly Orders</button>
          <button class="mini-btn" onclick="loadChart('win')">🥧 Win Rate</button>
          <button class="mini-btn" onclick="loadChart('pl')">💹 Profit / Loss</button>
          <button class="mini-btn" onclick="loadChart('top')">📈 Top Traded</button>
        </div>
        <div class="card">
            <img id="chartImage" />
        </div>

      </main>

      <!-- RIGHT SIDEBAR -->
      <aside class="col-lg-4 col-12 order-1 order-lg-2">
        <!-- Your investments -->
        <h5 class="mb-3">Your investments</h5>
        <div class="card investments-card p-3">
          <div class="mb-2 text-muted">Current</div>
          <div id="dashboard-current" class="fs-3 mb-3 fs" style="color: #44475b">--</div>
          <div class="d-flex justify-content-between mb-1">
            <span class="text-muted">1D returns</span>
            <span id="dashboard-1d" style="color: #Ed5533;">--</span>
          </div>
          <div class="d-flex justify-content-between mb-1">
            <span class="text-muted">Total returns</span>
            <span id="dashboard-total" style="color: #04b488;">--</span>
          </div>
          <div class="d-flex justify-content-between mt-2">
            <span class="text-muted">Invested</span>
            <span id="dashboard-invested" class="">--</span>
          </div>
        </div>
      </aside>
    </div>
  </div>
</section>

{% endblock %}

{% block js %}
<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script src="/static/js/holding.js"></script>
<script src="/static/js/dashboard.js"></script>
{% endblock %}