{% extends "base.html" %}

{% block title %}Dashboard - Stocxsim{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/dashboard.css">
{% endblock %}

{% block content %}

<section>
  <div class="container my-4">
    <div class="row">
      <!-- LEFT MAIN CONTENT -->
      <main class="col-lg-8 col-12 order-2 order-lg-1 mb-3 p-4">
        <!-- cards -->
        <h5 style="color: #44475b">My Watchlist</h5>
        <div class="dashboard-watchlist-scroll">
          <div id="stocksRow" class="row g-3 flex-nowrap">
            <!-- for js -->
          </div>
        </div>

        <!-- Tables -->
        <table class="table table-hover align-middle movers-table">
          <thead>
            <tr class="text-muted small">
              <th class="text-muted">Company</th>
              <th class="text-end text-muted">Market price (1D)</th>
              <th class="text-end text-muted">Volume</th>
            </tr>
          </thead>

          <tbody>
            <h5 style="color: #44475b" class="pt-5 pb-1">
              Top market movers
            </h5>
            <div class="d-flex align-items-center mt-3 mb-4">
              <div class="btn-group gap-2" role="group">
                <button class="btn btn-outline-secondary rounded-pill">
                  Gainers
                </button>
                <button class="btn btn-outline-secondary rounded-pill">
                  Losers
                </button>
                <button class="btn btn-outline-secondary rounded-pill">
                  Volume shockers
                </button>
              </div>
            </div>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <!-- <img src="/static/resources/logo.png" width="28" class="me-2 rounded"> -->
                  Jindal Steel
                </div>
              </td>
              <td class="text-end">
                ₹1,021.30<br />
                <span class="text-success small">30.80 (3.11%)</span>
              </td>
              <td class="text-end text-muted">20,97,101</td>
            </tr>

            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <!-- <img src="/static/resources/logo.png" width="28" class="me-2 rounded"> -->
                  Adani Power
                </div>
              </td>
              <td class="text-end">
                ₹144.65<br />
                <span class="text-success small">4.21 (3.00%)</span>
              </td>
              <td class="text-end text-muted">1,59,26,892</td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <!-- <img src="/static/resources/logo.png" width="28" class="me-2 rounded"> -->
                  Adani Power
                </div>
              </td>
              <td class="text-end">
                ₹144.65<br />
                <span class="text-success small">4.21 (3.00%)</span>
              </td>
              <td class="text-end text-muted">1,59,26,892</td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <!-- <img src="/static/resources/logo.png" width="28" class="me-2 rounded"> -->
                  Adani Power
                </div>
              </td>
              <td class="text-end">
                ₹144.65<br />
                <span class="text-success small">4.21 (3.00%)</span>
              </td>
              <td class="text-end text-muted">1,59,26,892</td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <!-- <img src="/static/resources/logo.png" width="28" class="me-2 rounded"> -->
                  Adani Power
                </div>
              </td>
              <td class="text-end">
                ₹144.65<br />
                <span class="text-success small">4.21 (3.00%)</span>
              </td>
              <td class="text-end text-muted">1,59,26,892</td>
            </tr>
          </tbody>
        </table>
      </main>

      <!-- RIGHT SIDEBAR -->
      <aside class="col-lg-4 col-12 order-1 order-lg-2">
        <!-- Your investments -->
        <h5 class="mb-3">Your investments</h5>
        <div class="card investments-card p-3">
          <div class="mb-2 text-muted">Current</div>
          <div class="fs-3 mb-3 fs" style="color: #44475b">₹34,085</div>
          <div class="d-flex justify-content-between mb-1">
            <span class="text-muted">1D returns</span>
            <span style="color: #dc3545;">-₹606.00 (1.75%)</span>
          </div>
          <div class="d-flex justify-content-between mb-1">
            <span class="text-muted">Total returns</span>
            <span style="color: #04b488;">+₹1,096.50 (3.32%)</span>
          </div>
          <div class="d-flex justify-content-between mt-2">
            <span class="text-muted">Invested</span>
            <span class="">₹32,988</span>
          </div>
        </div>
      </aside>
    </div>
  </div>
</section>

{% endblock %}

{% block js %}
<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script src="/static/js/dashboard.js"></script>
{% endblock %}