<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/static/css/holding.css" />
  <link rel="stylesheet" href="/static/css/home.css" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" />

</head>

<body>
  <nav class="navbar sticky-top bg-white" id="holding_nav">
    <div class="container-fluid">
      <!-- LEFT -->
      <a class="navbar-brand" href="#">
        <img src="/static/resources/logo.png" class="me-1 rounded" id="logo" />
        <span style="
          color: #374151;
          font-weight: 550;
          font-size: 18px;
          ">Stocks</span>
      </a>

      <!-- RIGHT GROUP (SEARCH + PROFILE) -->
      <div class="nav-right">
        <div class="search-box">
          <i class="bi bi-search search-icon"></i>
          <input type="text" id="searchInput" autocomplete="off" placeholder="Search Stocxsim..." />
          <!-- Results dropdown -->
          <div id="searchResults" class="search-results"></div>
        </div>

        <div class="profile-wrapper">
          <div class="profile-btn" onclick="toggleProfile()">
            <!-- {{ user.username[0]|upper }} -->
          </div>

          <div class="profile-dropdown" id="profileDropdown">
            <div class="profile-header">
              <div>
                <strong style="color: #374151"> {{ user.username }} </strong>
                <div class="small" style="color: rgb(124, 126, 140)">
                  {{ user.email }}
                </div>
              </div>
              <span><i class="bi bi-gear"></i> </span>
            </div>

            <div class="profile-item" style="color: #374151">
              <i class="bi bi-wallet2"></i>
              {{ user.balance }}
              <div class="small" style="color: rgb(124, 126, 140)">
                Stocks balance
              </div>
            </div>
            <div class="profile-footer text-decoration-dotted" style="color: #374151">
              <span class="ms-auto">Log out</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="d-flex sticky-top align-items-center bg-white" style="top: 58px;">
    <div style="margin-left: 40px;">
      <div class="tab-container">
        <div class="tab-item" onclick="selectTab(this)">Explore</div>
        <div class="tab-item active" onclick="selectTab(this)">Holdings</div>
        <div class="tab-item" onclick="selectTab(this)">Positions</div>
        <div class="tab-item" onclick="selectTab(this)">Orders</div>
        <div class="tab-item" onclick="selectTab(this)">Watchlist</div>
      </div>
    </div>
  </div>
  <div class="ticker-bar sticky-top py-2 border-bottom mb-2 border-top bg-white" style="top: 98px;">
    <div class="container">
      <div class="d-grid" style="grid-template-columns: repeat(4, 1fr);">
        <div class="ticker-item">NIFTY 25,942.10</div>
        <div class="ticker-item">SENSEX 84,695.54</div>
        <div class="ticker-item">BANKNIFTY 58,932.35</div>
        <div class="ticker-item">FINNIFTY 54,310.20</div>
      </div>
    </div>
  </div>
  

  <div class="container-fluid px-3 m-4" style="font-family: Verdana;">
    <div class="row gx-3">
      <div class="holdings-header">
        <span class="title">Holdings</span>
      </div>

      <!-- LEFT : HOLDINGS CARD -->
      <div class=" col-lg-8">
        <div class="holdings-summary">
          <div>
            <p>Current value</p>
            <h4>₹34,679</h4>
          </div>
          <div>
            <p>Invested value</p>
            <h4>₹32,988</h4>
          </div>
          <div>
            <p>Total returns</p>
            <h4 style="color: #04b488;">+₹1,690.50 (5.12%)</h4>
          </div>
        </div>
        <div class="holdings-card">
          <div class="table-header">
            <span>Company</span>
            <span>Market price</span>
            <span>Returns</span>
            <span>Current</span>
          </div>

          <div class="holding-row">
            <div>
              <strong>Groww Silver ETF</strong>
              <p>150 shares · Avg. ₹219.92</p>
            </div>
            <div>
              ₹231.19
              <p style="color: #04b488;">+1.11%</p>
            </div>
            <div style="color: #04b488;">
              +₹1,690.50
              <p>5.12%</p>
            </div>
            <div>
              ₹34,678.50
              <p>₹32,988.00</p>
            </div>
          </div>

        </div>
      </div>
      <!-- RIGHT : SIDE PANEL -->
      <div class="col-lg-3 mt-3 mt-lg-0 border" style="border-radius: 10px;">

        <div class="select-box">
          <p>Select a stock to get started</p>
        </div>

        <div class="balance-box">
          <span>Balance: ₹0.00</span>
          <a href="#">Add money</a>
        </div>

      </div>

    </div>
  </div>
  <script src="/static/js/holding.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  
</body>

</html>