{% extends "base.html" %}

{% block title %}Profile | Stocxsim{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/profile.css">
<script src="/static/js/base.js"></script>

{% endblock %}

{% block content %}
<div class="container" style="margin-top: 50px; margin-bottom: 50px;">
  <div class="row">

    <!-- LEFT SIDEBAR -->
    <div class="col-md-3">
      <div class="profile-sidebar">
        <div class="profile-user">
          <div class="avatar">{{ user.username[0]|upper }}</div>
          <div class="name">{{ user.username }}</div>
        </div>

        <ul class="profile-menu">
          <li class="active" onclick="openSection('details')">
            <span>Basic Details</span>
            <i class="bi bi-chevron-right"></i>
          </li>
          <li onclick="openSection('password')">
            <span>Change Password</span>
            <i class="bi bi-chevron-right"></i>
          </li>
          <li onclick="openSection('pin')">
            <span>Change PIN</span>
            <i class="bi bi-chevron-right"></i>
          </li>
          <li>
            <button class="ms-auto btn" id="logout">Log out</button>
          </li>
        </ul>

      </div>
    </div>

    <!-- RIGHT CONTENT -->
    <div class="col-md-9">
      <div class="profile-card section" id="detailsSection">
        <h5>Personal Details</h5>

        <div class="profile-row">
          <span class="label">Full Name</span>
          <span class="value">{{ user.username }}</span>
        </div>

        <div class="profile-row">
          <span class="label">Email Address</span>
          <span class="value">{{ user.email }}</span>
        </div>

        <div class="profile-row">
          <span class="label">Mobile Number</span>
          <span class="value">****69100</span>
        </div>

        <div class="profile-row" style="cursor: pointer;" onclick="goToFunds()">
          <span class="label">Balance</span>
          <span class="value">{{ user.balance }}</span>
        </div>

        <div class="bubble bubble-1"></div>
        <div class="bubble bubble-2"></div>

      </div>

      <!-- CHANGE PASSWORD -->
      <div class="profile-card section hidden" id="passwordSection">
        <h5>Change Password</h5>

        <form autocomplete="new-password">
          <div class="form-group">
            <label>New Password</label>
            <input type="password" class="form-control" autocomplete="new-password" name="new_password">
          </div>

          <div class="form-group">
            <label>Confirm New Password</label>
            <input type="password" class="form-control" autocomplete="new-password" name="confirm_password">
          </div>

          <button class="btn mt-3" style="background-color: #04b488; color: white;">Update Password</button>


          <!-- bubbles -->
          <div class="bubble bubble-1"></div>
          <div class="bubble bubble-2"></div>
        </form>
      </div>

      <!-- CHANGE PIN -->
      <div class="profile-card section hidden" id="pinSection">

        <h5>Change PIN</h5>
        <form autocomplete="new-pin">
          <div class="form-group">
            <label>New PIN</label>
            <input type="password" maxlength="4" class="form-control" autocomplete="new-pin">
          </div>

          <div class="form-group">
            <label>Confirm PIN</label>
            <input type="password" maxlength="4" class="form-control" autocomplete="new-pin">
          </div>
        </form>

        <button class="btn mt-3" style="color: white; background-color: #04b488;">Update PIN</button>

        <div class="bubble bubble-1"></div>
        <div class="bubble bubble-2"></div>
      </div>

    </div>

  </div>
</div>
{% endblock %}
{% block js %}
<script>
  function openSection(type) {
    document.querySelectorAll('.section').forEach(sec => {
      sec.classList.add('hidden');
    });

    document.querySelectorAll('.profile-menu li').forEach(li => {
      li.classList.remove('active');
    });

    if (type === 'details') {
      document.getElementById('detailsSection').classList.remove('hidden');
    }
    else if (type === 'password') {
      document.getElementById('passwordSection').classList.remove('hidden');
    }
    else if (type === 'pin') {
      document.getElementById('pinSection').classList.remove('hidden');
    }

    event.currentTarget?.classList.add('active');
  }

  const logout1 = document.getElementById("logout");
  if (logout1) {
    logout1.addEventListener("click", async () => {
      try {
        const res = await fetch('/login/logout', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          }
        });

        if (res.ok) {
          window.location.href = '/';
        } else {
          console.error('Logout failed');
        }
      } catch (e) {
        console.error('Error during logout:', e);
      }
    });
  } 
</script>
{% endblock %}